$chip-text : #fff;
$chip-bg : lightblue;
$button-bg : #fff;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#layout{
    min-height: 100vh;
    .filter-area{
        display: flex;
        justify-content: center;
        margin: 20px auto;
    }
    .card-area{
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: 20px;

        .card{
            border-radius: 8px;
            border: solid 1px #0000001f;
            
            min-width: 100%;
            margin: 20px;
            padding: 15px 20px;
            @media screen and (min-width: 475px){
                min-width: 450px;
            }
            &:hover{
                transition: all .3s linear;
                -webkit-box-shadow: 2px 2px 17px 0px rgba(75,75,75,0.68); 
                box-shadow: 2px 2px 17px 0px rgba(75,75,75,0.68);
            }
            .title{
                margin-bottom: 10px;
                font-weight: bold;
                font-size: 24px;
                letter-spacing: 2px;
                @media screen and (min-width: 475px){
                    font-size: 32px;
                }
            }
            //.caterogy{}
            .rating{
                display: flex;
                justify-content: flex-end;
                flex-direction: row;
                align-items: center;
                padding: 5px;
                .likes, .dislikes{
                    display: flex;
                    margin-top: 10px;
                    margin-left: 20px;
                    margin-bottom: 10px;
                    svg{
                        color: #5e5e5e;
                    }
                    div{
                        margin-left: 10px;
                        font-weight: bold;
                        color: #5e5e5e;
                    }
                }
            }
            .actions{
                display: flex;
                justify-content: flex-end;
                
                button{
                    letter-spacing: 2px;
                    font-weight: bold;
                }
            }
        }
    }
    .filter-area{
        display: flex;
        div{
            display: flex;
            justify-content: space-around;
            .button-pagination{
                margin: 10px;
            }
        }
    }
}